environments:
  default:
  instances:

---
repositories:
  - name: jetstack
    url: quay.io/jetstack/charts
    oci: true
  - name: prometheus-community
    url: ghcr.io/prometheus-community/charts
    oci: true
  - name: cloudpirates
    url: registry-1.docker.io/cloudpirates
    oci: true

releases:
  - name: cert-manager
    chart: jetstack/cert-manager
    namespace: cert-manager
    version: v1.19.3
    createNamespace: true
    values:
      - crds:
          enabled: true

  - name: prometheus-stack
    namespace: monitoring
    version: 81.6.1
    installed: false
    createNamespace: true
    disableValidation: true
    disableOpenAPIValidation: true
    chart: prometheus-community/kube-prometheus-stack
    needs:
      - cert-manager/cert-manager
    values:
      - grafana:
          enabled: false
      - kubeStateMetrics:
          enabled: false
      - alertmanager:
          enabled: false
      - nodeExporter:
          enabled: false
      - prometheus:
          prometheusSpec:
            enableAdminAPI: true
            podMonitorSelector: {}
            podMonitorSelectorNilUsesHelmValues: false
            ruleSelector: {}
            ruleSelectorNilUsesHelmValues: false
            serviceMonitorSelector: {}
            serviceMonitorSelectorNilUsesHelmValues: false

  - name: db-operator
    namespace: db-operator
    createNamespace: true
    chart: ./charts/db-operator
    labels:
      purpose: db-operator
    needs:
      - monitoring/prometheus-stack
      - cert-manager/cert-manager
    values:
      - image:
          repository: ghcr.io/jack-lull/db-operator-dev
          tag: 9901bd1982f3c0feb1df6de759b22e0cd21fb776
          pullPolicy: Always
      - controller:
          logLevel: error
      - webhook:
          logLevel: error

  - name: mariadb-instance
    namespace: databases
    chart: cloudpirates/mariadb
    labels:
      test: mysql
    version: 0.13.4
    values:
      - auth:
          rootPassword: 123123!!

  - name: mysql-test
    namespace: mysql-test
    chart: ./charts/db-operator-mysql-test/
    labels:
      test: mysql
      purpose: test

  - name: postgres-instance
    namespace: databases
    chart: cloudpirates/postgres
    version: 0.15.5
    labels:
      test: psql
    values:
      - auth:
          username: db-operator
          password: 123123!!

  - name: psql-test
    namespace: psql-test
    chart: ./charts/db-operator-psql-test/
    labels:
      test: psql
      purpose: test
